.weather_Container {
    width: auto;
    height: auto;

    background: #00B4DB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
   }
   @media screen and (min-width: 1000px){

    .weather_Container {
    width: 50%;
    height: auto;

    
   }
   }

  .searchBar{
    width: 200px 
    
  }
  .cFont{
    font-size: 20px;
    font-weight: bold;
  }
  
  .cColor{
    color: rgb(202, 234, 234);
  }
  .wColor{
    color: rgb(179, 249, 249);
  }
  .imgSize{
    height:50px;
    width: 50px;
  }
  .fFont{
    font-size:30px;
  }
  .hFont{
    font-weight: bold;
    font-size: 14px;
  }

  .sImgSize{
    height:30px;
    width: 30px;
  }